* {
	margin: 0;
	padding: 0;
}

header {
    width: 100%;
    height: 50px;
    margin: auto;
    display: block;
   position: fixed;
  	opacity: 0.9;
   top: 0;
   background: white;
}
nav.menutren {
    margin: 0 20%;
}
.menutren li {
    float: left;
    padding: 0 8px;
}

.menutren ul {
    list-style: none;
}

.menutren ul li a {
	text-decoration:none;
	padding:5px 10px;
	font-family:"CURLZ MT";
	color:#7df60e;
	font-size: 32px;

}

.home {
	
    width: 100%;
    height: 900px;
    background-attachment: fixed;
    background-image: url(../image/ImageOnePiece/hinh-nen-bang-mu-rom-52.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
   
}
.noidung1 {
    width: 100%;
    height:auto;
}
.chapter1, .chapter2 ,.chapter3 ,.chapter4 ,.chapter5 {
    width: 100%;
    height: 800px;
    background-image: url(../image/ImageOnePiece/hinh-nen-bang-mu-rom-14.jpg);
    background-size: inherit;
    background-repeat: no-repeat;
    background-position-x: right;
}
 h2.chuto {
    right: 10px;
    margin-left: 5%;
    padding-top: 98px;
}
.chuto{
	font-family:"CURLZ MT";
	color: yellow;
    font-size: 175px;
}
.chapter2{
	background-image: url(../image/ImageOnePiece/hinh-nen-bang-mu-rom-16.jpg);
}
.chapter3{
	background-image: url(../image/ImageOnePiece/hinh-nen-bang-mu-rom-43.jpg);
}
.chapter4{
	background-image: url(../image/ImageOnePiece/hinh-nen-bang-mu-rom-44.jpg);
}
.chapter5{
	background-image: url(../image/ImageOnePiece/hinh-nen-bang-mu-rom-57.jpg);
}
.noidung {
    width: 100%;
    height: 600px;
}
.backToTop {
    position: fixed;
    bottom: 50px;
    right: 50px;
    /* width: 111px; */
    /* height: 45px; */
    background: #00ff6678;
    text-align: center;
    display: block;
    cursor: pointer;
    padding-top: 20px;
    padding: 14px;
    border: 1px solid;
    border-radius: 15px;
    opacity: 0.99;
}
/*CSS Saga */
h3.saga {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    border-bottom: 1px solid #c8c8c8;
    color: rgba(59, 155, 252, 1);
}
.menuarc {
    text-align: center;
    display: none;
}

h5.arc {
    display: inline;
    padding: 0 3%;
}
.menuarc a {text-decoration: none;}
.menuarc iframe {
    width: 100%;
    height: -webkit-fill-available;
}

.menuarc .noidungiframe {
    width: 100%;
}
